
<div class="forms">
  <div v-on:click="show = !show" id="loginClose" class="closeButton">x</div>

  <h2> Log In </h2>
<%= form_for(:session, url: sessions_new_path) do |f| %>
<label>Email</label>
<%= f.email_field :email, required: true %> <br>
<label>Password</label>
<%= f.password_field :password, required: true %> <br>
<%= f.submit "Log In" %>
<% end %>

</div>
