<%= javascript_pack_tag 'about' %>

<div class="background"></div>

<div id="aboutSectionOne">
  <button v-on:click="show = !show" id="introButton" class="animate">Here to help.</button>
  <transition name="fade">
<div v-if="show">


<p>
  SteamVents is a place to air out your thoughts, and get help without pressure. We have resources gathered in one location and include Instawell&trade;, a pay for application for mental health, easy accessible at the bottom left of every page.
 </p>
<p>
  SteamVents is completely free to use and will continue to add features as time goes on. Some features already included are:
</p>
<ul>
  <li>
    Venting: where you can let out steam and your air your thoughts. </li>
    <li>Article search for health topics.</li>
    <li>Websites and phone numbers for treatment.</li>
    <li>Access to Instawell.</li>
  </ul>

</div>
</transition>
</div>
