<div class="helpInfo">
  <ul>
    <h2>Websites</h2>
      <li> <%= link_to "Lifeline Crisis", "https://www.contact-usa.org/chat.html" %> </li>
      <li> <%= link_to "Crisis Text Line", "https://www.crisistextline.org/" %> </li>
      <li> <%= link_to "I'm Alive Foundation", "https://www.imalive.org/" %> </li>
      <li> <%= link_to "Find Therapist and Psychological Help", "https://psychcentral.com/find-help/" %> </li>
    <h2>Phone Numbers</h2>
      <li> <a href="tel:+8002738255">National Suicide Prevention Lifeline</a> </li>
      <li> <a href="tel:+8004424673">National Youth Crisis Hotline</a> </li>
      <li> <a href="tel:+8007997233">Domestic Violence Hotline</a> </li>
      <li> <a href="tel:+8003442666">For Families of Alcoholics</a> </li>
      <li> <a href="tel:+8008214357">Alcohol and Drug Helpline</a> </li>
      <li> <a href="tel:+8009312237">Eating Disorder and Prevention</a> </li>
  </ul>
</div>
