<div class="search">
<h3>Services Search</h3>
<%= form_tag(locationresults_path, method: "get") do %>
  <%= label_tag(:location, "Enter Address: ") %><%= text_field_tag(:location)%>
  <%= submit_tag "Search", data: { disable_with: "Loading Results..." } %>
<% end %>

</div>
