<h3>Steam Vents</h3>
<div class="posts">
<% if @posts == nil %>
<p>No posts yet!</p>
<% else %>
<% @posts.reverse.each do |po| %>
<div class="onePost">
<div class="ventedBy"> Vented by: <%= po.owner %> </div> <br> <%= po.content %> <br>
<% if logged_in? && current_user.username == po.owner || logged_in? && current_user.email == "bemsuero@yahoo.com" %>
<%= link_to "Delete Post", post_path(po.id), :method=> :delete, data: {confirm: 'Delete Post?', remote: true},  class: "terminate" %>
<% end %>
</div>
<% end %>
</div>
<% end %>
