/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --sky: #30affe;
   --orange: #ef5722;
   --orangeDark: rgba(252,71,52,.93);
   --border: 1px solid rgba(0,0,0,.2);
 }

 .page {
   animation-delay: 0.1s;
 }

 html {
   font-family: 'Poppins', sans-serif;
   line-height: 3vh;
   background-color: rgba(242,222,236,.76);
 }

 i {
   color: var(--sky);
 }

 .header {
   position: absolute;
   font-size: 3vh;
   top: 5%;
   left: 1%;
   text-shadow: 1px 1px 2px white;
 }

.header a {
  text-decoration: none;
  color: var(--sky);
  opacity: 0.75;
}
.header a:hover {
  text-decoration: underline;
  opacity: 1;
}

h2  {
  color: var(--orangeDark);
  margin-top: 5%;
  text-shadow: 1px 1px 2px black;
}

.mainContent {
  background-size: contain;
  margin-left: -5%;
  margin-right: -0.7%;
  margin-top: -3%;
  height: 80vh;
  z-index: 1;
}

.mainContent p {
  word-break: normal;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}
.mainContent li {
  word-break: normal;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.mainContent h2 {
  text-align: center;
}


.instawell-widget-cont {
background-color: rgba(242,222,236,.76);
}

div .instawell-widget-inner-cont {
background-color: rgba(242,222,236,.76);
}
