/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --sky: #30affe;
   --orange: #ef5722;
   --orangeDark: rgba(252,71,52,.93);
   --border: 1px solid rgba(0,0,0,.2);
 }

 .page {
   animation-delay: 0.1s;
 }

 html {
   font-family: 'Poppins', sans-serif;
   line-height: 3vh;
   background-color: rgba(242,222,236,.76);
 }

 i {
   color: var(--sky);
 }

 .header {
   position: absolute;
   font-size: 3vh;
   top: 5%;
   left: 1%;
   text-shadow: 1px 1px 2px white;
 }

.header a {
  text-decoration: none;
  color: var(--sky);
  opacity: 0.75;
}
.header a:hover {
  text-decoration: underline;
  opacity: 1;
}

h2  {
  color: var(--orangeDark);
  margin-top: 5%;
  text-shadow: 1px 1px 2px black;
}
h3  {
  color: var(--orangeDark);
  text-shadow: 1px 1px 2px black;
}

.mainContent {
  background-size: contain;
  margin-left: -5%;
  margin-right: -0.7%;
  margin-top: -3%;
  height: 80vh;
  z-index: 1;
}

.mainContent p {
  word-break: normal;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}
.mainContent li {
  word-break: normal;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.mainContent h2 {
  text-align: center;
}

.mainContent h3 {
  text-align: center;
}


.instawell-widget-cont {
background-color: rgba(242,222,236,.76);
}

div .instawell-widget-inner-cont {
background-color: rgba(242,222,236,.76);
}

@media only screen and (max-width: 375px) {

  html {
    line-height: 3vh;
  }

  .background {
    height: 37vh;
    width: 103vw;
    margin-top: -6%;
  }

  #introButton {
    margin-left: 34.5%;
  }

  .instawell-widget-iframe-outerwrap {
    margin-bottom: -31%;
}

.campaign-page .campaign-widget-footer {
    bottom: 10%;
}

.header {
    top: 1%;
    left: 36%;
    text-shadow: 2px 2px 6px black;
}

.forms {
    margin-left: 10%;
    margin-right: 3%;
    margin-top: 25%;
    padding-top: 0%;
  }

  .forms a {
      margin-left: 22%;
      margin-right: 20%;
      padding-left: 7%;
  }

  .postBackground {
    background-size: contain;
}

.mainContent h2 {
  margin-top: 30%;
}

form textarea {
    margin-left: -23%;
}

.topics {
  margin-top: 60%;
  line-height: 4.5vh;
}

.helpHeaders {
    margin-top: 65%;
}

.helpInfo {
  line-height: 4vh;
}

}
