/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --sky: #30affe;
   --orange: #ef5722;
   --orangeDark: #e84534;
   --border: 1px solid rgba(0,0,0,.2);
 }

 html {
   font-family: 'Poppins', sans-serif;
   line-height: 3vh;
 }

 .header {
   position: absolute;
   font-size: 3vh;
   top: 5%;
   left: 1%;
   text-shadow: 1px 1px 2px white;
 }

.header a {
  text-decoration: none;
  color: var(--sky);
}

h2  {
  color: var(--orangeDark);
}

.mainContent {
  background-size: contain;
  margin-left: -5%;
  margin-right: -0.7%;
  margin-top: -3%;
  height: 80vh;
  z-index: 1;
}

.mainContent p {
  word-break: normal;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}
.mainContent li {
  word-break: normal;
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.mainContent h2 {
  text-align: center;
}

button {
  text-decoration: none;
  color: var(--orange);
  background-color: white;
  border-radius: 4px;
  font-size: 1.5vh;
  border: none;
}

.buttonLinks {
  text-decoration: none;
  color: var(--orange);
  background-color: white;
  border-radius: 4px;
  font-size: 1.5vh;
}

.instawell-widget-cont {

}

div .instawell-widget-inner-cont {

}
