// Place all the styles related to the HealthPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.helpInfo {
  margin-left: 20%;
  margin-right: 20%;
}

.helpInfo a {
  text-decoration: none;
  color: var(--sky);
}

.helpInfo ul {
  list-style: none;
}

.helpInfo li {
transition-duration: 1s;
}

.helpInfo li:hover {
  padding-left: 2%;
  transition-duration: 1s;
}

.background {
  background-image: url("/fountain.gif");
  background-size: contain;
  height: 75vh;
  margin-top: -11%;
  background-position: top;
}

.search {
  margin-left: 30%;
  margin-right: 20%;
  margin-top: 5%;
}

.results {
  animation-delay: 0.2s;
}

.results a {
  text-decoration: none;
  color: var(--sky);
  opacity: 0.75;
}
.results a:hover {
  text-decoration: underline;
  opacity: 1;
}

.aboutSectionOne {
  margin-bottom: 5%;
}
