// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#introButton {
  margin-left: 40.5%;
  color: var(--sky);
  font-size: 4vh;
  margin-top: 1%;
  border-radius: 8px;
  padding-right: 2%;
  text-decoration: none;
}

.animate {
  animation: move 1.5s infinite;
 }

@keyframes move {
    0% { transform: scale(0.90); }
   50% { transform: scale(1.05); }
  100% { transform: scale(0.90); }
}

.forms {
  margin-left: 33%;
  margin-right: 33%;
  margin-top: 5%;
  padding-bottom: 5%;
  padding-top: 1%;
  background-image: url("/sky.jpg");
  box-shadow: 1px 6px 8px black;
  border-radius: 2px;
}

.forms form {
  margin-left: 33%;
  margin-right: 33%;
}
.forms button {
margin-left: 30%;
margin-right: 33%;
}
.forms a {
margin-left: 33%;
margin-right: 33%;
}

.forms h2 {
padding-top: 5%;
}

.forms label {
  color: rgba(0,0,0,.57);
}

.forms input[type="text"] {
color: black;
font-weight: bolder;
border: none;
border-radius: 8px;
padding: 2%;
margin-bottom: 1%;
background-color: rgba(255,255,255,.3);
}
.forms input[type="email"] {
color: black;
font-weight: bolder;
border: none;
border-radius: 8px;
padding: 2%;
margin-bottom: 1%;
background-color: rgba(255,255,255,.3);
}
.forms input[type="password"] {
color: black;
font-weight: bolder;
border: none;
border-radius: 8px;
padding: 2%;
margin-bottom: 1%;
background-color: rgba(255,255,255,.3);
}

.forms input[type="submit"] {
  color: white;
  background-color: rgba(150,148,187,.7);
  border: none;
  border-radius: 8px;
  padding: 2%;
  width: 97%;
  margin-top: 10%;
}
.forms input[type="submit"]:hover {
  background-color: rgb(150,148,187);
}

.closeButton {
  border: 0.5px solid rgba(91, 9, 0, 0.93);
  position: relative;
  left: 91%;
  top: 10%;
  width: 1%;
  color: rgba(91, 9, 0, 0.93);
  background-color: rgba(255, 85, 66, 0.93);
  border-radius: 100%;
  padding-left: 1%;
  padding-right: 2%;
  text-align: center;
}

button {
  text-decoration: none;
  color: var(--orange);
  background-color: rgba(0,0,0,0);
  border-radius: 4px;
  font-size: 1.5vh;
  border: none;
  padding-left: 3%;
}

button:hover {
  text-decoration: underline;
}

.buttonLinks {
  text-decoration: none;
  color: var(--orange);
  background-color: rgba(0,0,0,0);
  border-radius: 4px;
  font-size: 1.5vh;
  padding-left: 1%;
}

.buttonLinks:hover {
  text-decoration: underline;
}

.guestSignIn {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.60);
}
.logIn {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.60);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
